#title {
  background-color: #337ab7;
  color: #eeeeee;
}
.col-md-4 {
  font-size: 1.2em;
  background-color: #E2EFFB;
}

img {
  width: 960;
  height: 642;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #337ab7;
}

.carousel-indicators li {
  border-color: #337ab7;
}

footer {
  margin-top: 2em;
  font-style: italic;
}
